@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;

}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
input[type=text], input[type=number], input[type=password], input[type=email]{
    width: 50%;
}
label{
    text-align: center;
}

select{
    max-width: 50% !important;
}

.form-control:focus, .form-select:focus{
    border-color: rgba(10, 1, 35, 0.933);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);

}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    width: 100%;
    align-items: stretch;
}

#sidebar {
    
    background: rgba(10, 1, 35, 0.933);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid  rgba(10, 1, 35, 0.933);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li input {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background: rgba(10, 1, 35, 0.933);
    color: #fff;

}

#sidebar ul li a.active{
    background: rgba(255, 255, 255, 0.933);
    color: rgba(10, 1, 35, 0.933);
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgba(10, 1, 35, 0.933);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


.logout{
    text-align: center;
}

#logout{
    background-color: rgba(10, 1, 35, 0.933);
    color: white;
    border: none;
}

.design-icon-student{
    color: rgb(8, 209, 240);
    font-size: 2.5em;
}

.design-icon-wallet{
    color: rgb(240, 8, 132);
    font-size: 2.5em;
}

.design-icon-book-total{
    color: rgb(8, 240, 85);
    font-size: 2.5em;
}

.design-icon-book-it{
    color: rgb(240, 108, 8);
    font-size: 2.5em;
}

.design-icon-book-aids{
    color: rgb(8, 89, 240);
    font-size: 2.5em;
}

.design-icon-request{
    color: rgb(243, 163, 15);
    font-size: 2.5em;
}

.head-button-add{
    border: none;
    background-color: white;
    font-size: large;
    border-bottom: 5px solid rgba(10, 1, 35, 0.933);
}

.head-button-view{
    border: none;
    background-color: white;
    font-size: large;
    border-bottom: 5px solid rgba(10, 1, 35, 0.933);
}

.head-button-remove{
    border: none;
    background-color: white;
    font-size: large;
    border-bottom: 5px solid rgba(10, 1, 35, 0.933);
}

#form-submit{
    width: 20%;
    margin: auto;
    background-color: rgba(10, 1, 35, 0.933);
    color: #fff;
}

.form-submit{
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    
    justify-content:center ;
}

.admin-img{
    text-align: center;
    width: 50%;
    height: 85%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.card-header{
    background-color: rgba(10, 1, 35, 0.933);
}

.card h4{
    color: white;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/*
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}*/
@media screen and (min-width: 700px) {
   
    .wrapper{
        display: flex !important;

    }
    #sidebar {
      min-width: 250px;
      max-width: 250px;
      width: 100%;
      height: auto;
      position: relative;
    }
    
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    
    .wrapper{
        max-width: 400px;
        min-width: 400px;
    }

    #sidebar a{
      text-align: center;
      float: none;
    }

    #sidebar{
        
    }


  }