body,html{
    height: 100%;
}

body{
    background: linear-gradient( rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82) ), url(../images/library.jpg);
    background-size: cover;
    color: white;
}
body h1{
    font-family: 'Alfa Slab One', cursive;
}

body p{
    font-family: 'Golos Text', sans-serif;
}

.btn-primary{
    background-color: rgba(10, 1, 35, 0.933);
}
