body,html{
    height: 100%;
}

body{
    background-color: rgba(10, 1, 35, 0.933);
    color: white;
}
body h1{
    font-family: 'Alfa Slab One', cursive;
}

body p{
    font-family: 'Golos Text', sans-serif;
}

.btn-primary{
    background-color: rgba(10, 1, 35, 0.933);
}
